{{!-- main.hbs --}}

<div class="row text-center text-white mb-5">
  <div class="col-lg-7 mx-auto">
    <h1 class="display-4">CometeAlgo! 🤤</h1>
  </div>
</div>
<div class="row text-white">
  <div class="col-lg-5 mx-auto">
    {{> loadform }}
  </div>
  <div class="col-lg mx-auto">
    <div class="row text-dark">
      <div class="col-md-12 mx-auto">
        <!-- List group-->
        <ul id="listaProductos" class="list-group shadow">
        </ul> <!-- End -->
      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom">
  {{> chatmod }}
</div>